
.anchor {
    -fx-background-image:url('file:/C:/Users/Riya%20Agrahari/git/RecoSys/images/bg8.jpg');
    -fx-background-size: cover;
   
}
.pane {
    -fx-background-image:url('file:/C:/Users/Riya%20Agrahari/git/RecoSys/images/bg10.jpg');
    -fx-background-size: cover;
   
}
